{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "API"
  },
  "servers": [
    {
      "url": "https://api.lunarclientprod.com",
      "description": "Production"
    },
    {
      "url": "https://api.lunarclientdev.com",
      "description": "Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "name": "Authorization",
        "scheme": "bearer",
        "in": "header",
        "description": "Bearer token"
      }
    },
    "schemas": {
      "FeatureFlag": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Identifier of the feature"
          },
          "value": {
            "type": "boolean",
            "description": "If this feature is active or not"
          }
        },
        "required": [
          "identifier",
          "value"
        ],
        "additionalProperties": false
      },
      "SentryFilter": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Identifier of the filter"
          },
          "regex": {
            "type": "string",
            "description": "Regex to match events with"
          }
        },
        "required": [
          "identifier",
          "regex"
        ],
        "additionalProperties": false
      },
      "StoreBasketGiftCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "Unique identifier for the gift card"
          },
          "basket": {
            "type": "number",
            "description": "Basket ID this gift card is applied to"
          },
          "deduction": {
            "type": "string",
            "description": "Amount deducted from the gift card"
          },
          "giftcard": {
            "type": "number",
            "description": "Gift card identifier"
          },
          "giftcard_id": {
            "type": "number",
            "description": "Gift card ID"
          },
          "last_consideration": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "description": "Date of the last consideration"
              },
              "consideration": {
                "type": "number",
                "description": "Consideration amount"
              }
            },
            "required": [
              "date",
              "consideration"
            ],
            "description": "Last consideration details"
          }
        },
        "required": [
          "id",
          "basket",
          "deduction",
          "giftcard",
          "giftcard_id",
          "last_consideration"
        ]
      },
      "StoreBasketCoupon": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "Unique identifier for the basket coupon"
          },
          "basket": {
            "type": "number",
            "description": "Basket ID this coupon is applied to"
          },
          "coupon": {
            "type": "number",
            "description": "Coupon ID"
          },
          "meta": {
            "type": "object",
            "properties": {
              "savings": {
                "type": "number",
                "description": "Total savings amount from this coupon"
              }
            },
            "required": [
              "savings"
            ],
            "description": "Coupon metadata including savings"
          },
          "related_coupon": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "description": "Unique identifier for the coupon"
              },
              "account": {
                "type": "number",
                "description": "Account ID associated with the coupon"
              },
              "code": {
                "type": "string",
                "description": "Coupon code"
              },
              "type": {
                "type": "string",
                "description": "Type of coupon (e.g., 'cart')"
              },
              "discount_type": {
                "type": "string",
                "description": "Type of discount (e.g., 'percentage', 'amount')"
              },
              "expire_type": {
                "type": "string",
                "description": "Expiration type (e.g., 'limit', 'timestamp')"
              },
              "minimum": {
                "type": "number",
                "description": "Minimum purchase amount required"
              },
              "user_limit": {
                "type": "number",
                "description": "User-specific usage limit"
              },
              "start_time": {
                "type": "number",
                "description": "Coupon start time timestamp"
              },
              "discount_percentage": {
                "type": "number",
                "description": "Discount percentage amount"
              },
              "discount_amount": {
                "type": "number",
                "description": "Fixed discount amount"
              },
              "expire_limit": {
                "type": "number",
                "nullable": true,
                "description": "Expiration limit (null if not applicable)"
              },
              "expire_timestamp": {
                "type": "number",
                "nullable": true,
                "description": "Expiration timestamp (null if not applicable)"
              },
              "basket_type": {
                "type": "string",
                "description": "Basket type restriction (e.g., 'both', 'single', 'subscription')"
              },
              "discount_application_method": {
                "type": "number",
                "description": "Method for applying the discount"
              },
              "note": {
                "type": "string",
                "description": "Additional notes about the coupon"
              },
              "username_id": {
                "type": "number",
                "nullable": true,
                "description": "Specific username ID restriction (null if not applicable)"
              },
              "auto_generated": {
                "type": "number",
                "description": "Whether the coupon was auto-generated"
              }
            },
            "required": [
              "id",
              "account",
              "code",
              "type",
              "discount_type",
              "expire_type",
              "minimum",
              "user_limit",
              "start_time",
              "discount_percentage",
              "discount_amount",
              "expire_limit",
              "expire_timestamp",
              "basket_type",
              "discount_application_method",
              "note",
              "username_id",
              "auto_generated"
            ],
            "description": "Detailed coupon information"
          }
        },
        "required": [
          "id",
          "basket",
          "coupon",
          "meta",
          "related_coupon"
        ]
      },
      "StoreBasketRow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "number",
            "description": "Unique identifier for this basket row"
          },
          "basket": {
            "type": "number",
            "description": "Basket ID this row belongs to"
          },
          "package": {
            "type": "number",
            "description": "Package ID for this item"
          },
          "override": {
            "type": "number",
            "description": "Price override amount if applicable"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity of this item in the basket"
          },
          "server": {
            "type": "number",
            "nullable": true,
            "description": "Specific server ID for this item (null if not server-specific)"
          },
          "price": {
            "type": "number",
            "description": "Final price for this row including quantity"
          },
          "gift_username_id": {
            "type": "number",
            "nullable": true,
            "description": "User ID if this item is being gifted (null if not a gift)"
          },
          "options": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true,
              "description": "Option value (can be any type)"
            },
            "description": "Configuration options for this item"
          },
          "recurring": {
            "type": "boolean",
            "description": "Whether this item has recurring billing"
          },
          "recurring_period": {
            "type": "string",
            "nullable": true,
            "description": "Billing period for recurring items"
          },
          "recurring_next_payment_date": {
            "type": "string",
            "nullable": true,
            "description": "Date of next recurring payment"
          },
          "meta": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Display name of the package or item"
              },
              "rowprice": {
                "type": "number",
                "description": "Individual row price for this item"
              },
              "initialprice": {
                "type": "number",
                "description": "Original price before any modifications"
              },
              "isCumulative": {
                "type": "boolean",
                "description": "Whether this item's benefits stack with others"
              },
              "requiredPackages": {
                "type": "array",
                "items": {
                  "type": "number",
                  "description": "Package IDs required for this item"
                },
                "description": "Array of package IDs required before purchasing this item"
              },
              "requiresAny": {
                "type": "boolean",
                "description": "Whether only one of the required packages is needed (true) or all (false)"
              },
              "category": {
                "type": "number",
                "description": "Category ID this item belongs to"
              },
              "producesGiftCard": {
                "type": "boolean",
                "description": "Whether purchasing this item generates a gift card"
              },
              "allowsGiftCards": {
                "type": "boolean",
                "description": "Whether gift cards can be used to purchase this item"
              },
              "servers": {
                "type": "array",
                "items": {
                  "type": "number",
                  "description": "Array of server IDs where this item is available"
                },
                "description": "Array of server IDs where this item is available"
              },
              "limits": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Whether user-specific purchase limits are enabled"
                      },
                      "timestamp": {
                        "type": "number",
                        "description": "Timestamp when the limit was set or last updated"
                      },
                      "limit": {
                        "type": "number",
                        "description": "Maximum purchase limit for the user"
                      }
                    },
                    "required": [
                      "enabled",
                      "timestamp",
                      "limit"
                    ],
                    "description": "User-specific purchase limits"
                  },
                  "global": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Whether global purchase limits are enabled"
                      },
                      "timestamp": {
                        "type": "number",
                        "description": "Timestamp when the global limit was set or last updated"
                      },
                      "limit": {
                        "type": "number",
                        "description": "Maximum global purchase limit"
                      }
                    },
                    "required": [
                      "enabled",
                      "timestamp",
                      "limit"
                    ],
                    "description": "Global purchase limits"
                  },
                  "packageExpiryTime": {
                    "type": "number",
                    "description": "Timestamp when the package expires"
                  }
                },
                "required": [
                  "user",
                  "global",
                  "packageExpiryTime"
                ],
                "description": "Purchase limits and restrictions for this item"
              },
              "hasDeliverables": {
                "type": "boolean",
                "description": "Whether this item has digital deliverables"
              },
              "deliverableTypes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Deliverable type"
                },
                "description": "Types of deliverables included with this item"
              },
              "downloadLink": {
                "type": "string",
                "description": "Direct download link for deliverables"
              },
              "hasSellerProtection": {
                "type": "boolean",
                "description": "Whether this item includes seller protection"
              },
              "itemType": {
                "type": "string",
                "nullable": true,
                "description": "Specific type classification of the item"
              },
              "revenue_share": {
                "type": "array",
                "items": {
                  "type": "number",
                  "description": "Revenue share percentage"
                },
                "description": "Revenue sharing configuration for this item"
              },
              "image": {
                "type": "string",
                "nullable": true,
                "description": "URL to the item's display image"
              },
              "repeat_period": {
                "type": "string",
                "nullable": true,
                "description": "Billing period for recurring items"
              },
              "tiered": {
                "type": "boolean",
                "description": "Whether this item uses tiered pricing"
              },
              "package_type": {
                "type": "string",
                "enum": [
                  "single",
                  "subscription"
                ],
                "description": "Whether this is a one-time purchase or subscription"
              },
              "realprice": {
                "type": "number",
                "description": "Actual calculated price after all modifications"
              },
              "taxPerItem": {
                "type": "object",
                "properties": {
                  "basket_item_id": {
                    "type": "number",
                    "description": "Unique identifier for the basket item"
                  },
                  "tax": {
                    "type": "number",
                    "description": "Tax amount applied to this specific item"
                  },
                  "price": {
                    "type": "number",
                    "description": "Base price of the item before tax"
                  },
                  "total": {
                    "type": "number",
                    "description": "Total price including tax for this item"
                  }
                },
                "required": [
                  "basket_item_id",
                  "tax",
                  "price",
                  "total"
                ],
                "description": "Tax breakdown specific to this item"
              }
            },
            "required": [
              "name",
              "rowprice",
              "initialprice",
              "isCumulative",
              "requiredPackages",
              "requiresAny",
              "category",
              "producesGiftCard",
              "allowsGiftCards",
              "servers",
              "limits",
              "hasDeliverables",
              "deliverableTypes",
              "downloadLink",
              "hasSellerProtection",
              "itemType",
              "revenue_share",
              "image",
              "repeat_period",
              "tiered",
              "package_type",
              "realprice",
              "taxPerItem"
            ],
            "description": "Detailed metadata about this item"
          },
          "custom": {
            "nullable": true,
            "description": "Custom data associated with this item"
          },
          "image_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to the item's image"
          },
          "is_recurring": {
            "type": "boolean",
            "description": "Whether this item is part of a recurring subscription"
          },
          "recurring_price": {
            "type": "number",
            "nullable": true,
            "description": "Price for recurring billing cycles"
          }
        },
        "required": [
          "id",
          "basket",
          "package",
          "override",
          "quantity",
          "server",
          "price",
          "gift_username_id",
          "options",
          "recurring",
          "recurring_period",
          "recurring_next_payment_date",
          "meta",
          "image_url",
          "is_recurring",
          "recurring_price"
        ]
      },
      "StoreBasket": {
        "type": "object",
        "properties": {
          "ident": {
            "type": "string",
            "description": "Unique identifier for this basket"
          },
          "expire": {
            "type": "string",
            "description": "Expiration date and time for this basket"
          },
          "price": {
            "type": "number",
            "description": "Total price of all items in the basket"
          },
          "priceDetails": {
            "type": "object",
            "properties": {
              "fullPrice": {
                "type": "number",
                "description": "Full price before any discounts or modifications"
              },
              "subTotal": {
                "type": "number",
                "description": "Subtotal after discounts but before tax"
              },
              "discounts": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "Array of discount objects applied to the basket"
              },
              "total": {
                "type": "number",
                "description": "Final total amount including all taxes and fees"
              },
              "surcharges": {
                "type": "array",
                "items": {
                  "nullable": true
                },
                "description": "Array of additional charges or fees"
              },
              "tax": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name or type of the tax being applied"
                  },
                  "taxAmount": {
                    "type": "number",
                    "description": "Total tax amount for the transaction"
                  },
                  "taxableAmount": {
                    "type": "number",
                    "description": "Total amount subject to taxation"
                  },
                  "documentCode": {
                    "type": "string",
                    "nullable": true,
                    "description": "Tax document or reference code"
                  },
                  "reportingTax": {
                    "type": "object",
                    "properties": {
                      "baseCurrency": {
                        "type": "string",
                        "description": "Base currency code for the transaction"
                      },
                      "reportingCurrency": {
                        "type": "string",
                        "description": "Currency code used for reporting purposes"
                      },
                      "exchangeRate": {
                        "type": "number",
                        "description": "Exchange rate between base and reporting currencies"
                      },
                      "exchangeRateSource": {
                        "type": "string",
                        "description": "Source or provider of the exchange rate"
                      },
                      "taxAmount": {
                        "type": "number",
                        "description": "Tax amount in the reporting currency"
                      },
                      "taxableAmount": {
                        "type": "number",
                        "description": "Taxable amount in the reporting currency"
                      }
                    },
                    "required": [
                      "baseCurrency",
                      "reportingCurrency",
                      "exchangeRate",
                      "exchangeRateSource",
                      "taxAmount",
                      "taxableAmount"
                    ],
                    "description": "Tax information in reporting currency"
                  },
                  "taxPerItem": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "basket_item_id": {
                          "type": "number",
                          "description": "Unique identifier for the basket item"
                        },
                        "tax": {
                          "type": "number",
                          "description": "Tax amount applied to this specific item"
                        },
                        "price": {
                          "type": "number",
                          "description": "Base price of the item before tax"
                        },
                        "total": {
                          "type": "number",
                          "description": "Total price including tax for this item"
                        }
                      },
                      "required": [
                        "basket_item_id",
                        "tax",
                        "price",
                        "total"
                      ]
                    },
                    "description": "Individual tax breakdown per basket item"
                  },
                  "taxMode": {
                    "type": "string",
                    "description": "Mode or method of tax calculation"
                  }
                },
                "required": [
                  "name",
                  "taxAmount",
                  "taxableAmount",
                  "documentCode",
                  "reportingTax",
                  "taxPerItem",
                  "taxMode"
                ],
                "description": "Comprehensive tax information for the transaction"
              },
              "balance": {
                "type": "number",
                "description": "Outstanding balance or amount due"
              },
              "sales": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number",
                      "description": "Unique identifier for the sale"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name or title of the sale"
                    },
                    "package_id": {
                      "type": "number",
                      "description": "Package ID associated with this sale"
                    },
                    "discountAmount": {
                      "type": "number",
                      "description": "Discount amount applied by this sale"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "sale"
                      ],
                      "description": "Type identifier for sale entries"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "package_id",
                    "discountAmount",
                    "type"
                  ]
                },
                "description": "Array of sales or promotional offers applied"
              },
              "giftcards": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/StoreBasketGiftCard"
                },
                "description": "Array of gift card objects used in payment"
              },
              "recurring": {
                "nullable": true,
                "description": "Recurring payment information (null if not applicable)"
              },
              "roundUp": {
                "nullable": true,
                "description": "Round up charity donation information (null if not applicable)"
              },
              "currencyCode": {
                "type": "string",
                "description": "ISO currency code for the transaction"
              },
              "currencySymbol": {
                "type": "string",
                "description": "Currency symbol for display purposes"
              }
            },
            "required": [
              "fullPrice",
              "subTotal",
              "discounts",
              "total",
              "surcharges",
              "tax",
              "balance",
              "sales",
              "giftcards",
              "recurring",
              "roundUp",
              "currencyCode",
              "currencySymbol"
            ],
            "description": "Detailed breakdown of pricing and costs"
          },
          "type": {
            "nullable": true,
            "description": "Basket type classification (null if not applicable)"
          },
          "isPaymentMethodUpdate": {
            "type": "boolean",
            "description": "Whether this basket is for updating payment methods"
          },
          "returnUrl": {
            "type": "string",
            "nullable": true,
            "description": "URL to return to after checkout (null if not specified)"
          },
          "complete": {
            "type": "boolean",
            "description": "Whether the basket checkout has been completed"
          },
          "tax": {
            "type": "number",
            "description": "Total tax amount for the basket"
          },
          "username": {
            "type": "string",
            "description": "Username of the customer"
          },
          "discounts": {
            "nullable": true,
            "description": "Applied discounts (null if none)"
          },
          "coupons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StoreBasketCoupon"
            },
            "description": "Array of coupon objects applied to the basket"
          },
          "giftcards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StoreBasketGiftCard"
            },
            "description": "Array of gift card objects used in this basket"
          },
          "address": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Full name of the customer"
              },
              "first_name": {
                "type": "string",
                "description": "Customer's first name"
              },
              "last_name": {
                "type": "string",
                "description": "Customer's last name"
              },
              "address": {
                "type": "string",
                "description": "Street address or location"
              },
              "email": {
                "type": "string",
                "description": "Customer's email address"
              },
              "state_id": {
                "type": "string",
                "nullable": true,
                "description": "State or province identifier (null if not applicable)"
              },
              "country": {
                "type": "string",
                "description": "Country name or code"
              },
              "postal_code": {
                "type": "string",
                "description": "Postal or ZIP code"
              }
            },
            "required": [
              "name",
              "first_name",
              "last_name",
              "address",
              "email",
              "state_id",
              "country",
              "postal_code"
            ],
            "description": "Customer's billing and shipping address"
          },
          "email_immutable": {
            "type": "boolean",
            "description": "Whether the email address can be changed"
          },
          "actions": {
            "nullable": true,
            "description": "Available actions for this basket (null if none)"
          },
          "game_currency": {
            "nullable": true,
            "description": "In-game currency information (null if not applicable)"
          },
          "tebex_account_id": {
            "nullable": true,
            "description": "Tebex account identifier (null if not linked)"
          },
          "verified": {
            "nullable": true,
            "description": "Verification status (null if not applicable)"
          },
          "rows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StoreBasketRow"
            },
            "description": "Array of items in the basket"
          },
          "recurring_items": {
            "type": "array",
            "items": {
              "nullable": true
            },
            "description": "Array of recurring subscription items"
          },
          "fingerprint": {
            "type": "string",
            "description": "Browser or device fingerprint for security"
          },
          "creator_code": {
            "type": "string",
            "description": "Creator or referral code used"
          },
          "roundup": {
            "nullable": true,
            "description": "Charity round-up donation (null if not applicable)"
          },
          "cancel_url": {
            "type": "string",
            "description": "URL to redirect to if checkout is cancelled"
          },
          "complete_url": {
            "type": "string",
            "description": "URL to redirect to after successful checkout"
          },
          "complete_auto_redirect": {
            "type": "boolean",
            "description": "Whether to automatically redirect after completion"
          },
          "custom": {
            "type": "object",
            "additionalProperties": {
              "nullable": true,
              "description": "Custom value (can be any type)"
            },
            "description": "Custom data associated with this basket"
          },
          "links": {
            "type": "object",
            "properties": {
              "payment": {
                "type": "string",
                "description": "URL link to the payment processing page"
              }
            },
            "required": [
              "payment"
            ],
            "description": "Important URLs related to this basket"
          },
          "payment": {
            "type": "object",
            "properties": {
              "txnId": {
                "type": "string",
                "description": "Unique transaction identifier"
              },
              "date": {
                "type": "string",
                "description": "Date and time of the payment"
              },
              "email": {
                "type": "string",
                "description": "Email address associated with the payment"
              },
              "name": {
                "type": "string",
                "description": "Name of the person making the payment"
              },
              "currency": {
                "type": "string",
                "description": "Currency code for the payment"
              },
              "country": {
                "type": "string",
                "description": "Country where the payment was made"
              },
              "amount": {
                "type": "number",
                "description": "Total payment amount"
              },
              "checkoutCurrency": {
                "type": "string",
                "description": "Currency used during checkout process"
              },
              "discordLoginUrl": {
                "type": "string",
                "nullable": true,
                "description": "URL for Discord login integration (null if not applicable)"
              },
              "completeUrl": {
                "type": "string",
                "description": "URL to redirect to after payment completion"
              },
              "status": {
                "type": "string",
                "description": "Current status of the payment"
              },
              "canPaymentMethodBeSaved": {
                "type": "boolean",
                "description": "Whether the payment method can be saved for future use"
              },
              "paymentMethodName": {
                "type": "string",
                "description": "Name or type of the payment method used"
              },
              "savePaymentMethodStep": {
                "type": "string",
                "nullable": true,
                "description": "Step in the save payment method process (null if not applicable)"
              },
              "paidByVerifiedCustomer": {
                "type": "boolean",
                "description": "Whether the payment was made by a verified customer"
              }
            },
            "required": [
              "txnId",
              "date",
              "email",
              "name",
              "currency",
              "country",
              "amount",
              "checkoutCurrency",
              "discordLoginUrl",
              "completeUrl",
              "status",
              "canPaymentMethodBeSaved",
              "paymentMethodName",
              "savePaymentMethodStep",
              "paidByVerifiedCustomer"
            ],
            "description": "Payment processing information"
          }
        },
        "required": [
          "ident",
          "expire",
          "price",
          "priceDetails",
          "type",
          "isPaymentMethodUpdate",
          "returnUrl",
          "complete",
          "tax",
          "username",
          "discounts",
          "coupons",
          "giftcards",
          "address",
          "email_immutable",
          "actions",
          "game_currency",
          "tebex_account_id",
          "verified",
          "rows",
          "recurring_items",
          "fingerprint",
          "creator_code",
          "roundup",
          "cancel_url",
          "complete_url",
          "complete_auto_redirect",
          "custom",
          "links",
          "payment"
        ],
        "description": "The basket after the operation"
      },
      "LaunchTypeArtifact": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the artifact"
          },
          "sha1": {
            "type": "string",
            "description": "Hash of the artifact asset"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the artifact asset"
          },
          "differentialUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Differential URL of the artifact asset (to use if previous hash exists)"
          },
          "type": {
            "type": "string",
            "enum": [
              "CLASS_PATH",
              "EXTERNAL_FILE",
              "NATIVES"
            ],
            "description": "Type of the artifact asset"
          },
          "size": {
            "type": "number",
            "description": "Size of the artifact, in bytes"
          },
          "mtime": {
            "type": "number",
            "description": "Last modification time of the artifact, in seconds since epoch"
          }
        },
        "required": [
          "name",
          "sha1",
          "url",
          "differentialUrl",
          "type",
          "size",
          "mtime"
        ],
        "additionalProperties": false,
        "description": "Artifact information relating to specific launch permutation"
      },
      "LauncherLaunchLicense": {
        "type": "object",
        "properties": {
          "file": {
            "type": "string",
            "description": "File of the license"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL location of the license"
          },
          "sha1": {
            "type": "string",
            "description": "Hash of the license"
          },
          "size": {
            "type": "number",
            "description": "Size of the license, in bytes"
          },
          "mtime": {
            "type": "number",
            "description": "Last modification time of the license, in seconds since epoch"
          }
        },
        "required": [
          "file",
          "url",
          "sha1",
          "size",
          "mtime"
        ],
        "additionalProperties": false,
        "description": "Launch License"
      },
      "LauncherProfile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Local profile ID"
          },
          "name": {
            "type": "string",
            "description": "Name of the profile"
          },
          "modrinth": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Modrinth Project ID"
              },
              "version_id": {
                "type": "string",
                "description": "Version ID of the Modrinth Project"
              }
            },
            "required": [
              "id"
            ],
            "additionalProperties": false,
            "description": "Information about the Modrinth-linked modpack"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false,
        "description": "The profile attempting to be launched"
      },
      "LogUploadOutputFile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the file on the player's machine",
            "example": "main.log"
          },
          "uploadUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL the client should use to PUT the file's contents"
          }
        },
        "required": [
          "name",
          "uploadUrl"
        ],
        "additionalProperties": false,
        "description": "File that should be uploaded"
      },
      "LogUploadInputFile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the file on the player's machine",
            "example": "main.log"
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "LauncherVersionCarouselImage": {
        "type": "object",
        "properties": {
          "image": {
            "type": "string",
            "format": "uri",
            "description": "Image of the slide"
          },
          "title": {
            "type": "string",
            "description": "Title shown within the image"
          }
        },
        "required": [
          "image",
          "title"
        ],
        "additionalProperties": false
      },
      "LauncherSubversionModule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the module"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the default module within the parent subversion"
          },
          "name": {
            "type": "string",
            "description": "Display name of the module"
          },
          "description": {
            "type": "string",
            "description": "Description of the module"
          },
          "credits": {
            "type": "string",
            "nullable": true,
            "description": "Author of the module"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "Icon displayed with the module"
          },
          "launchButtonImage": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Icon displayed on the launch button next to the module name"
          },
          "launchButtonName": {
            "type": "string",
            "nullable": true,
            "description": "Name displayed on the launch button"
          },
          "loaders": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Name of the loader"
            },
            "description": "Loaders that are compatible with this module"
          },
          "sort": {
            "type": "number",
            "description": "Order of the module within subversion"
          }
        },
        "required": [
          "id",
          "default",
          "name",
          "description",
          "credits",
          "image",
          "launchButtonImage",
          "launchButtonName",
          "loaders",
          "sort"
        ],
        "additionalProperties": false
      },
      "LauncherVanillaSubversion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the subversion"
          },
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherSubversionModule"
            },
            "description": "Modules associated with this subversion"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the default subversion within the parent"
          }
        },
        "required": [
          "id",
          "modules",
          "default"
        ],
        "additionalProperties": false
      },
      "LauncherVanillaVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the version"
          },
          "name": {
            "type": "string",
            "description": "Display name of the version (from Mojang)",
            "example": "The Bountiful Update"
          },
          "description": {
            "type": "string",
            "description": "Blurb about the update"
          },
          "carousel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherVersionCarouselImage"
            },
            "description": "List of slides that will play above the description"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the version that should be selected on first install"
          },
          "releaseDate": {
            "type": "string",
            "description": "Date that Mojang released this parent version"
          },
          "images": {
            "type": "object",
            "properties": {
              "background": {
                "type": "string",
                "format": "uri",
                "description": "Image shown behind version text"
              },
              "foreground": {
                "type": "string",
                "format": "uri",
                "description": "Image shown infront of version text"
              },
              "icon": {
                "type": "string",
                "format": "uri",
                "description": "Image shown in list view of versions page"
              }
            },
            "required": [
              "background",
              "foreground",
              "icon"
            ],
            "additionalProperties": false,
            "description": "Images that are shown with this version listing"
          },
          "subversions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherVanillaSubversion"
            },
            "description": "Subversions associated with this parent version"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "carousel",
          "default",
          "releaseDate",
          "images",
          "subversions"
        ],
        "additionalProperties": false
      },
      "LauncherSubversionAssets": {
        "type": "object",
        "properties": {
          "sha1": {
            "type": "string",
            "description": "Hash of the asset"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the asset location"
          },
          "id": {
            "type": "string",
            "description": "Identifier of the asset"
          }
        },
        "required": [
          "sha1",
          "url",
          "id"
        ],
        "additionalProperties": false,
        "description": "Assets that need to be downloaded with this subversion"
      },
      "LauncherSubversion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the subversion"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the default subversion within the parent"
          },
          "assets": {
            "$ref": "#/components/schemas/LauncherSubversionAssets"
          },
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherSubversionModule"
            },
            "description": "Modules that are playable with this subversion"
          }
        },
        "required": [
          "id",
          "default",
          "assets",
          "modules"
        ],
        "additionalProperties": false
      },
      "LauncherVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the version"
          },
          "name": {
            "type": "string",
            "description": "Display name of the version (from Mojang)",
            "example": "The Bountiful Update"
          },
          "description": {
            "type": "string",
            "description": "Blurb about the update"
          },
          "carousel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherVersionCarouselImage"
            },
            "description": "List of slides that will play above the description"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the version that should be selected on first install"
          },
          "releaseDate": {
            "type": "string",
            "description": "Date that Mojang released this parent version"
          },
          "images": {
            "type": "object",
            "properties": {
              "background": {
                "type": "string",
                "format": "uri",
                "description": "Image shown behind version text"
              },
              "foreground": {
                "type": "string",
                "format": "uri",
                "description": "Image shown infront of version text"
              },
              "icon": {
                "type": "string",
                "format": "uri",
                "description": "Image shown in list view of versions page"
              }
            },
            "required": [
              "background",
              "foreground",
              "icon"
            ],
            "additionalProperties": false,
            "description": "Images that are shown with this version listing"
          },
          "subversions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherSubversion"
            },
            "description": "Subversions associated with this parent version"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "carousel",
          "default",
          "releaseDate",
          "images",
          "subversions"
        ],
        "additionalProperties": false
      },
      "RecommendedLibrary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Identifier of the library",
            "example": "FABRIC_LOADER"
          },
          "version": {
            "type": "string",
            "description": "Version of the library",
            "example": "0.15.6"
          }
        },
        "required": [
          "name",
          "version"
        ],
        "additionalProperties": false
      },
      "LauncherBadlionSubversion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the subversion"
          },
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherSubversionModule"
            },
            "description": "Modules associated with this subversion"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the default subversion within the parent"
          }
        },
        "required": [
          "id",
          "modules",
          "default"
        ],
        "additionalProperties": false
      },
      "LauncherBadlionVersion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier of the version"
          },
          "name": {
            "type": "string",
            "description": "Display name of the version (from Mojang)",
            "example": "The Bountiful Update"
          },
          "description": {
            "type": "string",
            "description": "Blurb about the update"
          },
          "carousel": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherVersionCarouselImage"
            },
            "description": "List of slides that will play above the description"
          },
          "default": {
            "type": "boolean",
            "description": "Whether this is the version that should be selected on first install"
          },
          "releaseDate": {
            "type": "string",
            "description": "Date that Mojang released this parent version"
          },
          "images": {
            "type": "object",
            "properties": {
              "background": {
                "type": "string",
                "format": "uri",
                "description": "Image shown behind version text"
              },
              "foreground": {
                "type": "string",
                "format": "uri",
                "description": "Image shown infront of version text"
              },
              "icon": {
                "type": "string",
                "format": "uri",
                "description": "Image shown in list view of versions page"
              }
            },
            "required": [
              "background",
              "foreground",
              "icon"
            ],
            "additionalProperties": false,
            "description": "Images that are shown with this version"
          },
          "subversions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherBadlionSubversion"
            },
            "description": "Subversions associated with this parent version"
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "carousel",
          "default",
          "releaseDate",
          "images",
          "subversions"
        ],
        "additionalProperties": false
      },
      "Ad": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the advertisement"
          },
          "placement": {
            "type": "string",
            "enum": [
              "home",
              "mission-control",
              "explore-mods",
              "explore-mods-curseforge"
            ],
            "description": "Placement of the advertisement"
          },
          "type": {
            "type": "string",
            "enum": [
              "video",
              "image"
            ],
            "description": "Type of advertisement"
          },
          "media_asset_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the media asset"
          },
          "media_target_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the target page when the media asset is clicked"
          },
          "cta_icon_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the call to action icon"
          },
          "cta_text": {
            "type": "string",
            "description": "Text of the call to action"
          },
          "cta_button_text": {
            "type": "string",
            "description": "Text of the call to action button"
          },
          "cta_button_url": {
            "type": "string",
            "format": "uri",
            "description": "URL of the call to action button"
          },
          "show_to_lunar_plus": {
            "type": "boolean",
            "description": "Whether to show the ad to Lunar+ users"
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "description": "Start time of the ad"
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "description": "End time of the ad"
          }
        },
        "required": [
          "id",
          "placement",
          "type",
          "media_asset_url",
          "media_target_url",
          "cta_icon_url",
          "cta_text",
          "cta_button_text",
          "cta_button_url",
          "show_to_lunar_plus",
          "start_time"
        ],
        "additionalProperties": false
      },
      "LauncherAlert": {
        "type": "object",
        "nullable": true,
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the alert"
          },
          "text": {
            "type": "string",
            "description": "Contents of the alert"
          },
          "color": {
            "type": "string",
            "enum": [
              "RED",
              "BLUE",
              "PURPLE",
              "TWITCH",
              "YOUTUBE",
              "DISCORD",
              "TWITTER",
              "YOUTOOZ"
            ],
            "description": "Color variant of the alert"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "Whether the alert is clickable and should open up a link"
          }
        },
        "required": [
          "id",
          "text",
          "color"
        ],
        "additionalProperties": false,
        "description": "Alert to display to the user"
      },
      "LauncherBlogPost": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the blog post (primarily for Analytics)"
          },
          "image": {
            "type": "string",
            "format": "uri",
            "description": "Image to display with the blog post"
          },
          "link": {
            "type": "string",
            "format": "uri",
            "description": "URL that is opened upon clicking"
          },
          "badge": {
            "type": "string",
            "nullable": true,
            "enum": [
              "LIMITED_TIME",
              "INCLUDES_REWARD"
            ],
            "description": "Type of badge to display"
          },
          "hash": {
            "type": "string",
            "description": "Hash associated with the contents of the blog post (for read/unread indicators)"
          }
        },
        "required": [
          "title"
        ],
        "additionalProperties": false
      },
      "LauncherNavItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier for navigiation item"
          },
          "image": {
            "type": "string",
            "description": "Image to display as icon"
          },
          "destination": {
            "type": "string",
            "description": "Where the navigation item will take users (can be a deep link)"
          },
          "tooltip": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "Title of the tooltip"
              },
              "subtitle": {
                "type": "string",
                "description": "Subtitle of the tooltip"
              }
            },
            "required": [
              "title"
            ],
            "additionalProperties": false,
            "description": "Tooltip to show on hover"
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": false
      },
      "LauncherServersCTA": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL that is opened in tab on click"
          }
        },
        "required": [
          "url"
        ],
        "additionalProperties": false,
        "description": "Servers Page CTA information"
      },
      "ServerMappingsModpack": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Modrinth ID of the modpack"
          },
          "recommendedVersion": {
            "type": "string",
            "description": "The recommended Modrinth Modpack version. If blank, will use latest version."
          },
          "recommendedReleaseChannel": {
            "type": "string",
            "description": "If blank, will use 'Release' release channel."
          },
          "recommendedLoader": {
            "type": "string",
            "description": "If blank, will use 'Fabric' loader or the next available loader if Fabric is not available."
          },
          "promptBeforeGameJoin": {
            "type": "boolean",
            "default": true,
            "description": "If true, the user will be prompted to install the recommended mods/modpack before joining the server in-game."
          },
          "promptBeforeLauncherJoin": {
            "type": "boolean",
            "default": true,
            "description": "If true, the user will be prompted to install the recommended mods/modpack before joining the server in-game."
          }
        },
        "required": [
          "id"
        ],
        "description": "Server's modpack"
      },
      "MetadataShelfServer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of the server"
          },
          "name": {
            "type": "string",
            "description": "Display name of the server"
          },
          "icon": {
            "type": "string",
            "format": "uri",
            "description": "Icon of the server"
          },
          "joinIp": {
            "type": "string",
            "description": "IP that should be joined on click"
          },
          "supportedVersions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Support Lunar Client version of the Server"
            },
            "description": "Supported Versions of the server"
          },
          "recommendedVersion": {
            "type": "string",
            "description": "Recommended version of the server"
          },
          "primaryColor": {
            "type": "string",
            "description": "Server's primary branding color"
          },
          "modpack": {
            "$ref": "#/components/schemas/ServerMappingsModpack"
          }
        },
        "required": [
          "id",
          "name",
          "icon",
          "joinIp",
          "supportedVersions",
          "recommendedVersion"
        ],
        "additionalProperties": false,
        "description": "Server metadata for server shelf functionality"
      },
      "TopbarSocial": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Identifier for social item"
          },
          "name": {
            "type": "string",
            "description": "Name of the social (ex. Twitter)"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL that gets opened on click"
          },
          "icon": {
            "type": "string",
            "description": "Icon to display for the social. Can either be a URL or a Fontawesome icon class"
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "icon"
        ],
        "additionalProperties": false
      },
      "VideoPromotionTimings": {
        "type": "object",
        "properties": {
          "cooldowns": {
            "type": "object",
            "properties": {
              "house": {
                "type": "number",
                "description": "Length of cooldown for house advertisements (Lunar Client promos)"
              },
              "direct": {
                "type": "number",
                "description": "Length of cooldown for direct advertisements (Third party promos)"
              }
            },
            "required": [
              "house",
              "direct"
            ],
            "additionalProperties": false,
            "description": "Cooldowns for each promotion type"
          },
          "viewsBeforeCooldown": {
            "type": "object",
            "properties": {
              "house": {
                "type": "number",
                "description": "Amount of house ad views before cooldown is applied"
              },
              "direct": {
                "type": "number",
                "description": "Amount of direct ad views before cooldown is applied"
              }
            },
            "required": [
              "house",
              "direct"
            ],
            "additionalProperties": false,
            "description": "Number of views before cooldown is applied for each promotion type"
          }
        },
        "required": [
          "cooldowns",
          "viewsBeforeCooldown"
        ],
        "additionalProperties": false,
        "description": "Values that are applied to each promotion type"
      },
      "VideoPromotionPositioning": {
        "type": "object",
        "properties": {
          "blog": {
            "type": "object",
            "properties": {
              "slot": {
                "type": "number",
                "description": "Position to insert the video promotion on the home page"
              }
            },
            "required": [
              "slot"
            ],
            "additionalProperties": false,
            "description": "Positioning and properties of the blog placement for the video promotion"
          },
          "sidebar": {
            "type": "object",
            "properties": {
              "slot": {
                "type": "number",
                "description": "Position to insert the video promotion on the sidebar"
              },
              "image": {
                "type": "string",
                "format": "uri",
                "description": "Image to display in the sidebar placement for the video promotion, defaults to video icon if nothing is provided."
              }
            },
            "additionalProperties": false,
            "description": "Positioning and properties of the sidebar placement for the video promotion"
          }
        },
        "additionalProperties": false,
        "description": "Positioning of the entrypoints to the promotion in the Launcher"
      },
      "VideoPromotionCreativeIdentifiers": {
        "type": "object",
        "properties": {
          "creativeId": {
            "type": "string",
            "nullable": true,
            "description": "Creative ID that is being served with the advertisement"
          },
          "adId": {
            "type": "string",
            "nullable": true,
            "description": "Advertising ID that is being played"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "Title attributed to the creative"
          }
        },
        "additionalProperties": false,
        "description": "List of identifiers that will tried to be matched"
      },
      "VideoPromotionReward": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "COSMETIC",
              "EMOTE"
            ],
            "description": "Type of reward"
          },
          "id": {
            "type": "number",
            "description": "Identifier of cosmetic / emote"
          },
          "name": {
            "type": "string",
            "description": "Name of the reward"
          },
          "viewerData": {
            "nullable": true
          }
        },
        "required": [
          "type",
          "id",
          "name"
        ],
        "additionalProperties": false
      },
      "VideoPromotionCreative": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Moonsworth ID of the creative"
          },
          "name": {
            "type": "string",
            "description": "Moonsworth name of the creative"
          },
          "type": {
            "type": "string",
            "enum": [
              "HOUSE",
              "DIRECT"
            ],
            "description": "Type of creative"
          },
          "thumbnail": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Thumbnail to show in he blog area"
          },
          "sort": {
            "type": "number",
            "description": "Order of creative within the pool (used for sequence tracking)"
          },
          "identifiers": {
            "$ref": "#/components/schemas/VideoPromotionCreativeIdentifiers"
          },
          "cta": {
            "type": "object",
            "properties": {
              "buttonText": {
                "type": "string",
                "nullable": true,
                "description": "Text that is shown on the button",
                "example": "Visit store"
              },
              "buttonUrl": {
                "type": "string",
                "nullable": true,
                "format": "uri",
                "description": "URL that is opened when the button is clicked"
              },
              "text": {
                "type": "string",
                "nullable": true,
                "description": "Hook text that is shown on the left of the button"
              },
              "urlDisplay": {
                "type": "string",
                "nullable": true,
                "description": "Display hint of the URL that is opened positioned on the left of the button"
              }
            },
            "additionalProperties": false,
            "description": "Call to action information associated with the creative"
          },
          "vendor": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "nullable": true,
                "description": "Name of the vendor that is providing the creative (company)"
              },
              "image": {
                "type": "string",
                "nullable": true,
                "format": "uri",
                "description": "Logo of the vendor"
              }
            },
            "required": [
              "name",
              "image"
            ],
            "additionalProperties": false,
            "description": "Vendor information associated with the creative"
          },
          "rewards": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoPromotionReward"
            },
            "description": "Rewards attached with the creative"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "thumbnail",
          "sort",
          "identifiers",
          "rewards"
        ],
        "additionalProperties": false
      },
      "VideoPromotion": {
        "type": "object",
        "properties": {
          "timings": {
            "$ref": "#/components/schemas/VideoPromotionTimings"
          },
          "positioning": {
            "$ref": "#/components/schemas/VideoPromotionPositioning"
          },
          "playerUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL of the webpage where scripts are being injected"
          },
          "fallbackThumbnail": {
            "type": "string",
            "format": "uri",
            "description": "Thumbnail to use if the house ad index has reached the end of the list"
          },
          "launchToastDelay": {
            "type": "number",
            "description": "Amount of time in milliseconds after launch click to send the pending rewards Toast. Set this to -1 to disable the toast."
          },
          "corner": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean",
                "description": "Whether or not the corner should be shown"
              },
              "playerUrl": {
                "type": "string",
                "format": "uri",
                "description": "URL of the webpage where scripts are being injected"
              },
              "playerTimeout": {
                "type": "number",
                "description": "Amount of time in milliseconds to wait for the player to start playing before it automatically closes"
              },
              "countdownAction": {
                "type": "string",
                "enum": [
                  "CLOSE",
                  "AUTOPLAY"
                ],
                "description": "Action to take when the countdown is finished on pre-video thumbnail"
              },
              "countdownAmount": {
                "type": "number",
                "description": "Amount of time in milliseconds to countdown"
              },
              "showDelay": {
                "type": "number",
                "description": "Amount of time in milliseconds to wait before showing the corner thumbnail on launch click"
              },
              "thumbnail": {
                "type": "string",
                "format": "uri",
                "description": "Thumbnail to show in the corner before video"
              }
            },
            "required": [
              "enabled",
              "playerUrl",
              "playerTimeout",
              "countdownAction",
              "countdownAmount",
              "showDelay",
              "thumbnail"
            ],
            "additionalProperties": false,
            "description": "Corner functionality for the video promotion"
          },
          "activeCreatives": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VideoPromotionCreative"
            },
            "description": "List of expected creatives"
          }
        },
        "required": [
          "timings",
          "positioning",
          "playerUrl",
          "launchToastDelay",
          "corner",
          "activeCreatives"
        ],
        "additionalProperties": false,
        "description": "Current video promotion information"
      },
      "LauncherRefreshIntervals": {
        "type": "object",
        "properties": {
          "metadata": {
            "type": "number",
            "description": "How often the metadata should refresh"
          },
          "updates": {
            "type": "number",
            "description": "How often the auto updater should check for updates"
          },
          "heartbeat": {
            "type": "number",
            "description": "How often the AssetServer heartbeat should be sent"
          },
          "servers": {
            "type": "number",
            "description": "How often the server counts fetch is sent"
          }
        },
        "required": [
          "metadata",
          "updates",
          "heartbeat",
          "servers"
        ],
        "additionalProperties": false,
        "description": "Refresh intervals across the Launcher"
      },
      "LauncherUpdater": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "Updater channel to pull updates from",
            "example": "latest"
          },
          "feedUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to check updates from"
          }
        },
        "required": [
          "channel",
          "feedUrl"
        ],
        "additionalProperties": false,
        "description": "Information regarding the updater"
      },
      "LauncherErrorSolution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique ID for the solution"
          },
          "title": {
            "type": "string",
            "description": "Title of the solution"
          },
          "description": {
            "type": "string",
            "description": "Description of the solution"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "String value to look for in stderr"
            },
            "description": "List of errors to look for in stderr"
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "errors"
        ],
        "additionalProperties": false
      },
      "OnlinePlayers": {
        "type": "object",
        "properties": {
          "game": {
            "type": "number",
            "description": "Number of player with the game open"
          },
          "launcher": {
            "type": "number",
            "description": "Number of player with the launcher open"
          }
        },
        "required": [
          "game",
          "launcher"
        ],
        "additionalProperties": false,
        "description": "Number of concurrent players across Lunar Client platforms"
      },
      "LauncherRadioStation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the radio station"
          },
          "name": {
            "type": "string",
            "description": "Name of the radio station"
          },
          "description": {
            "type": "string",
            "description": "Description of the radio station"
          },
          "image": {
            "type": "string",
            "description": "Image of the radio station"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "additionalProperties": false
      },
      "LauncherRadioPremiumPackage": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the premium package",
            "example": "Premium Package"
          },
          "packageId": {
            "type": "number",
            "description": "The Tebex ID of the package",
            "example": 6538884
          },
          "priceAmount": {
            "type": "number",
            "minimum": 0,
            "description": "Amount of the price of the premium radio subscription",
            "example": 4.99
          },
          "priceCurrency": {
            "type": "string",
            "description": "Currency of the price of the premium radio subscription",
            "example": "USD"
          }
        },
        "required": [
          "name",
          "packageId",
          "priceAmount",
          "priceCurrency"
        ],
        "additionalProperties": false
      },
      "ServerMappingsSocials": {
        "type": "object",
        "properties": {
          "twitter": {
            "type": "string",
            "description": "Twitter handle of the server (without @)"
          },
          "discord": {
            "type": "string",
            "description": "Full discord invite link of the server"
          },
          "youtube": {
            "type": "string",
            "description": "Youtube channel slug of the server (without /channel/)"
          },
          "instagram": {
            "type": "string",
            "description": "Instagram handle of the server (without @)"
          },
          "twitch": {
            "type": "string",
            "description": "Twitch channel of the server (without @)"
          },
          "telegram": {
            "type": "string",
            "description": "Telegram channel slug of the server"
          },
          "reddit": {
            "type": "string",
            "description": "Reddit slug of the server (without the leading r/)"
          },
          "tiktok": {
            "type": "string",
            "description": "TikTok handle of the server (without @)"
          },
          "facebook": {
            "type": "string",
            "description": "Facebook slug of the server"
          }
        },
        "description": "Social media channels of the server"
      },
      "ServerMappingsCompliance": {
        "type": "object",
        "properties": {
          "privacyPolicy": {
            "type": "string",
            "format": "uri",
            "description": "URL to the server's Privacy Policy"
          },
          "termsOfService": {
            "type": "string",
            "format": "uri",
            "description": "URL to the server's Terms of Service"
          },
          "rules": {
            "type": "string",
            "format": "uri",
            "description": "URL to the server's Rules"
          },
          "support": {
            "type": "string",
            "format": "uri",
            "description": "URL to the server's Support"
          }
        },
        "description": "Compliance URLs of the server"
      },
      "LauncherServer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the server"
          },
          "name": {
            "type": "string",
            "description": "Display name of the server"
          },
          "website": {
            "type": "string",
            "format": "uri",
            "description": "URL to the server's website"
          },
          "store": {
            "type": "string",
            "format": "uri",
            "description": "URL to the server's store"
          },
          "wiki": {
            "type": "string",
            "format": "uri",
            "description": "URL to the server's wiki"
          },
          "merch": {
            "type": "string",
            "format": "uri",
            "description": "URL to the server's merchandise"
          },
          "description": {
            "type": "string",
            "description": "Description of the server"
          },
          "addresses": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Address that the server is known as"
            },
            "description": "Domains that represent the server (used for discovery)"
          },
          "primaryAddress": {
            "type": "string",
            "description": "Address that people will content to upon clicking"
          },
          "minecraftVersions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Playable Minecraft version of the server"
            },
            "description": "List of versions that the server lists as playable"
          },
          "primaryMinecraftVersion": {
            "type": "string",
            "description": "Version that the server recommends you to join with"
          },
          "primaryColor": {
            "type": "string",
            "description": "Server's primary branding color"
          },
          "secondaryColor": {
            "type": "string",
            "description": "Server's secondary branding color"
          },
          "primaryLanguage": {
            "type": "string",
            "description": "Primary language that server is based on"
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Supported language of the server"
            },
            "description": "List of languages that the server supports"
          },
          "primaryRegion": {
            "type": "string",
            "description": "Primary region that the server operates in"
          },
          "regions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Region that the server operates in"
            },
            "description": "List of regions that the server operates in (physical hardware)"
          },
          "gameTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Gametype that server provides to play"
            },
            "description": "List of Game Types that the server provides to play"
          },
          "socials": {
            "$ref": "#/components/schemas/ServerMappingsSocials"
          },
          "crossplay": {
            "type": "boolean",
            "description": "Whether the server supports crossplay with Bedrock players"
          },
          "presentationVideo": {
            "type": "string",
            "description": "YouTube ID of a server's Trailer/Introduction video"
          },
          "compliance": {
            "$ref": "#/components/schemas/ServerMappingsCompliance"
          },
          "modpack": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ServerMappingsModpack"
              },
              {
                "description": "Recommended Modpack of the server"
              }
            ]
          },
          "images": {
            "type": "object",
            "properties": {
              "logo": {
                "type": "string",
                "format": "uri",
                "description": "URL to the server's logo"
              },
              "banner": {
                "type": "string",
                "format": "uri",
                "description": "URL to the server's banner"
              },
              "background": {
                "type": "string",
                "format": "uri",
                "description": "URL to the server's background"
              },
              "wordmark": {
                "type": "string",
                "format": "uri",
                "description": "URL to the server's wordmark"
              }
            },
            "description": "Images of the server"
          },
          "partnered": {
            "type": "boolean",
            "description": "Whether the server has an active Lunar Client partnership (front page)"
          }
        },
        "required": [
          "id",
          "name",
          "addresses",
          "primaryAddress",
          "minecraftVersions",
          "primaryMinecraftVersion",
          "images",
          "partnered"
        ]
      },
      "LauncherServerModeFilter": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the mode"
          },
          "iconUrl": {
            "type": "string",
            "format": "uri",
            "description": "Icon representing mode"
          }
        },
        "required": [
          "name",
          "iconUrl"
        ],
        "additionalProperties": false
      },
      "LauncherServerRegionFilter": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Continent code of the region"
          },
          "name": {
            "type": "string",
            "description": "Name of the region"
          }
        },
        "required": [
          "code",
          "name"
        ],
        "additionalProperties": false
      },
      "LauncherServerFilters": {
        "type": "object",
        "properties": {
          "versions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Minecraft version that can be filtered by"
            },
            "description": "List of available versions that can be filtered by"
          },
          "modes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherServerModeFilter"
            },
            "description": "List of available modes that can be filtered by"
          },
          "regions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LauncherServerRegionFilter"
            },
            "description": "List of available regions that can be filtered by"
          }
        },
        "required": [
          "versions",
          "modes",
          "regions"
        ],
        "additionalProperties": false,
        "description": "Filters that can be applied to the servers tab"
      },
      "WrappedCountryData": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "description": "The country code this data represents",
            "example": "US"
          },
          "total_cosmetic_changes": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of cosmetic outfit changes that took place, where the player is from this country"
          },
          "total_emote_time_millis": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of milliseconds players emoted for, where the player is from this country"
          },
          "total_emote_uses": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of emote usages that took place, where the player is from this country"
          },
          "total_friend_adds": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of new friendships that were formed, where at least one player is from this country"
          },
          "total_friend_messages": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of friend messages that were sent, where the sending player is from this country"
          },
          "total_plays": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of plays that took place, where the player is from this country"
          },
          "total_playtime_millis": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of milliseconds of playtime that took place, where the player is from this country"
          },
          "total_realms_joins": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of Minecraft Realms joins that took place, where the player is from this country"
          },
          "total_server_joins": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of multiplayer server joins that took place, where the player is from this country"
          },
          "total_singleplayer_joins": {
            "type": "object",
            "nullable": true,
            "properties": {
              "value": {
                "type": "number",
                "description": "Country's value for this metric"
              },
              "rank": {
                "type": "integer",
                "description": "Absolute rank this value places the country at, over the entire world"
              }
            },
            "required": [
              "value",
              "rank"
            ],
            "additionalProperties": false,
            "description": "Total number of singleplayer joins that took place, where the player is from this country"
          },
          "top_server_joins": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "server_mappings_id": {
                  "type": "string",
                  "description": "ServerMappings ID for this server"
                },
                "server_mappings_name": {
                  "type": "string",
                  "description": "ServerMappings name for this server"
                },
                "value": {
                  "type": "integer",
                  "description": "Total number of joins to this server, where the player is from this country"
                }
              },
              "required": [
                "server_mappings_id",
                "server_mappings_name",
                "value"
              ],
              "additionalProperties": false
            },
            "description": "Top servers, sorted by number of joins, where the player is from this country"
          },
          "top_server_types": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "description": "Server type, as defined in ServerMappings"
                },
                "value": {
                  "type": "integer",
                  "description": "Total number of joins to servers with this type, where the player is from this country"
                }
              },
              "required": [
                "type",
                "value"
              ],
              "additionalProperties": false
            },
            "description": "Top server types, sorted by number of joins, where the player is from this country"
          }
        },
        "required": [
          "country",
          "total_cosmetic_changes",
          "total_emote_time_millis",
          "total_emote_uses",
          "total_friend_adds",
          "total_friend_messages",
          "total_plays",
          "total_playtime_millis",
          "total_realms_joins",
          "total_server_joins",
          "total_singleplayer_joins",
          "top_server_joins",
          "top_server_types"
        ],
        "additionalProperties": false
      },
      "WrappedGlobalData": {
        "type": "object",
        "properties": {
          "total_emote_time_millis": {
            "type": "number",
[...]
